*.mp4
__pycache__/
*.npy
*.txt
*.h5

Sequence Models/W3/Trigger Word Detection/XY_train/X.npy
Sequence Models/W3/Trigger Word Detection/XY_dev/X_dev.npy
Sequence Models/W2/Emojify/data/glove.6B.50d.txt
Sequence Models/W2/Operations on Word Vectors - Debiasing/data/glove.6B.50d.txt
.git/objects/e6/97f0920b14c67304ccd0ccf2ec908f2d92816a
.git/objects/pack/pack-6f804f759aa803b0117eb738f0bdb7066209a7a3.pack
.git/objects/84/38820a644e363fede65be3225b3054c8320329
